<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../libs/bootstrap.min.css" />
    <script type="text/javascript" src="../libs/angular.min.js"></script>
    <script type="text/javascript" src="test_5.js"></script>
  </head>
  <body ng-app="spicyApp1" ng-controller="SpicyController">
    
    <h1>{{"Hello, Angular!"}}</h1>
  	<div>
      <button ng-click="chiliSpicy()">Chili</button>
      <button ng-click="jalapenoSpicy()">Jalapeño</button>
      <p>The food is {{spice}} spicy!</p>
    </div>

  </body>
</html>