<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../libs/bootstrap.min.css" />
    <script type="text/javascript" src="../libs/angular.min.js"></script>
    <script type="text/javascript" src="test_4.js"></script>
	<script type="text/javascript" src="test_4_finance2.js"></script>
  </head>
  <body ng-app="invoice3" ng-controller="InvoiceController as invoice">
    <h1>{{"Hello, Angular!"}}</h1>
	<div>
  <b>Invoice:</b>
  <div>
    Quantity: <input type="number" min="0" ng-model="invoice.qty" required >
  </div>
  <div>
    Costs: <input type="number" min="0" ng-model="invoice.cost" required >
    <select ng-model="invoice.inCurr">
      <option ng-repeat="c in invoice.currencies">{{c}}</option>
    </select>
  </div>
  <div>
    <b>Total:</b>
    <span ng-repeat="c in invoice.currencies">
      {{invoice.total(c) | currency:c}}
    </span>
    <button class="btn" ng-click="invoice.pay()">Pay</button>
  </div>
</div>

  </body>
</html>