<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../libs/bootstrap.min.css" />
    <script type="text/javascript" src="../libs/angular.min.js"></script>
     <script type="text/javascript" src="test_23.js"></script>
  </head>
  <body ng-app="customTriggerExample">
    
    <div ng-controller="ExampleController">

      <form>
        <label>Name:
          <input type="text" ng-model="user.name" ng-model-options="{ updateOn: 'blur' }" /></label><br />
        <label>
        Other data:
        <input type="text" ng-model="user.data" /></label><br />
      </form>

      <pre>username = "{{user.name}}"</pre>
      <pre>userdata = "{{user.data}}"</pre>

    </div>

<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
</style>

  </body>
</html>